@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Tajawal:wght@200&display=swap');

:root{
    --heading: 'Nanum Myeongjo', serif;
    --para: 'Tajawal', sans-serif;
    --teal: rgb(27, 56, 64);
    --gray: rgb(49, 51, 53);
    --white: rgb(255, 255, 255);
}

h1{
    font-family: var(--heading);
    font-size: 3rem;
    color: var(--gray)
}

h2{
    font-family: var(--para);
    font-size: 2rem;
    color: var(--gray);
}

h3{
    font-family: var(--heading);
    font-size: 1rem;
    color: var(--teal);
}

h4{
    font-family: var(--para);
    font-size: 1.5rem;
    color: var(--gray);
}

p{
    font-family: var(--para);
    font-size: 1.3rem;
    color: var(--gray)
}

a{
    text-decoration: none;
    color: var(--gray)
}

button{
    background-color: var(--teal);
    font-family: var(--heading);
    color: var(--white);
    border: none;
    padding: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label{
    font-family: var(--para);
    font-size: 1.2rem;
}

input, select{
    width: 60%;
    margin-bottom: 1rem;
    padding: 7px;
    border: none;
    border-bottom: 1px solid grey;
    font-family: var(--para);
}


